<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao Dịch Chứng Khoán</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-left">
                <h1>GIAO DỊCH CHỨNG KHOÁN</h1>
                <p>STOCK EXCHANGE</p>
            </div>
            <div class="header-right">
                <p>Xin Chào - <span th:text="${taiKhoan.nhaDauTu.hoTen}"></span></p>
                <a href="@{/exit}">Đăng Xuất</a>
            </div>
        </header>
        <nav>
            <ul>
                <li>Tra Cứu Số Dư</li>
                <li>Sao Kê GDCK</li>
                <li>Đặt Lệnh</li>
                <li>Ứng Tiền</li>
                <li>Bảng Giá Điện Tử</li>
            </ul>
        </nav>
        <main>
            <section class="account-info">
			    <h2>Tra Cứu Số Dư</h2>
			    <div class="info">
			        <p><strong>Tên chủ TK:</strong> <span th:text="${taiKhoan.nhaDauTu.hoTen}"></span></p>
			        <p><strong>Số dư hiện tại của quý khách:</strong> 
			            <span class="highlight" th:text="${#numbers.formatDecimal(taiKhoan.soTien, 0, 'COMMA')}"></span> VND</p>
			        <p><strong>Mã Số Tài Khoản:</strong> <span th:text="${taiKhoan.maTK}"></span></p>
			        <p><strong>Ngân Hàng:</strong>
			            <select name="nganHang">
			                <option th:each="nh : ${dsNganHang}"
			                        th:value="${nh.maNH}"
			                        th:text="${nh.tenNganHang}"
			                        th:selected="${nh.maNH == taiKhoan.nganHang.maNH}">
			                </option>
			            </select>
			        </p>
			        <p><strong>Số dư còn lại được phép giao dịch:</strong> 
			            <span class="highlight" th:text="${#numbers.formatDecimal(taiKhoan.soTien, 0, 'COMMA')}"></span> VND</p>
			    </div>
			</section>

            <section class="stock-balance">
			    <h2>Số Dư Cổ Phiếu</h2>
			    <table>
			        <thead>
			            <tr>
			                <th scope="col">Mã CP</th>
			                <th>Số lượng</th>
			                <th>Giá thị trường</th>
			                <th>Tổng giá trị</th>
			            </tr>
			        </thead>
			        <tbody>
			        	<!-- Dữ liệu trống -->
				        <tr th:if="danhSachCoPhieu.empty">
				        	<td colspan="5" style="text-align: center;" th:text="${nullCP}"></td>
				        </tr>
				        
			            <tr th:each="coPhieu : ${danhSachCoPhieu}">
			                <td th:text="${coPhieu.maCP}"></td>
			                <td th:text="${coPhieu.soLuongPH}"></td>
			                <td th:text="${#numbers.formatDecimal(coPhieu.soLuongPH * 1000, 0, 'COMMA')}"></td>
			                <td th:text="${#numbers.formatDecimal(coPhieu.soLuongPH * 1000, 0, 'COMMA')}"></td>
			            </tr>
			        </tbody>
			    </table>
			</section>
        </main>
    </div>
</body>
</html>
