.sao-ke .sao-ke-container {
    max-width: 900px;
    margin: auto;
    
}

.sao-ke h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sao-ke table {
    width: 102%;
    border-collapse: collapse;
}

.sao-ke thead {
    background-color: #f0f0f0;
}

.sao-ke th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.sao-ke p {
    color: #888;
    text-align: center;
}

.sao-ke #filterForm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sao-ke #filterForm label {
    font-weight: bold;
}

.sao-ke #filterForm select {
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

