.sao-ke .sao-ke-container {
    max-width: 900px;
    margin: auto;
    
}

.sao-ke h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sao-ke table {
    width: 102%;
    border-collapse: collapse;
}

.sao-ke thead {
    background-color: #f0f0f0;
}

.sao-ke th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.sao-ke p {
    color: #888;
    text-align: center;
}
