<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/add_edit_investor.css}">
	<title>Thêm/Sửa nhà đầu tư</title>
</head>
<body>
	<div th:fragment="content">
		<div class="investor-form-container">
			<h3 th:text="${investor.maNDT} > 'Sửa nhà đầu tư' : 'Thêm nhà đầu tư'"></h3>
			<form th:action="@{/investors/add}" th:object="${investor}" method="post">
				<input type="hidden" th:field="*{maNDT}" th:if="${investor.maNDT}"/>

				<div>
	                <label>Mã nhà đầu tư (MaNDT):</label>
	                <input type="text" th:field="*{maNDT}" th:disabled="${investor.maNDT}" />
	            </div>

				<div>
					<label>Họ tên:</label>
					<input type="text" th:field="*{hoTen}" />
				</div>

				<div>
					<label>Ngày sinh:</label>
					<input type="text" th:field="*{ngaySinh}" />
				</div>

				<div>
					<label>Địa chỉ:</label>
					<input type="text" th:field="*{diaChi}" />
				</div>

				<div>
					<label>Số điện thoại:</label>
					<input type="text" th:field="*{phone}" />
				</div>

				<div>
					<label>CMND:</label>
					<input type="text" th:field="*{cmnd}" />
				</div>

				<div>
					<label>Giới tính:</label>
					<input type="text" th:field="*{gioiTinh}" />
				</div>

				<div>
					<label>Email:</label>
					<input type="text" th:field="*{email}" />
				</div>

				<!-- Subform cho tài khoản ngân hàng -->
				<h4>Tài khoản ngân hàng</h4>
				<table class="table">
					<thead>
						<tr>
							<td></td>
						</tr>
					</thead>
				</table>
			</form>
		</div>
	</div>
</body>
</html>