<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: content}">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/add_edit.css}">
	<title>Thêm/Sửa cổ phiếu</title>
</head>
<body>
	<div th:fragment="content">
		<h3 th:text="${stock.maCP} ? 'Sửa cố phiếu' : 'Thêm cố phiếu'"></h3>
		<form th:action="@{/stocks/add}" th:object="${stock}" method="post">
			<input type="hidden" th:field="*{maCP}" th:if="${stock.maCP}"/>
			
			<div>
				<label>Mã CP:</label> 
				<input type="text" th:field="*{maCP}" th:disabled="${stock.maCP}" />
			</div>
			
            <div>
            	<label>Tên công ty:</label> 
            	<input type="text" th:field="*{tenCty}" />
            </div>
            
            <div>
            	<label>Địa chỉ:</label> 
            	<input type="text" th:field="*{diaChi}" />
            </div>
            
            <div>
            	<label>Số lượng phát hành:</label> 
            	<input type="text" th:field="*{soLuongPH}" />
            </div>
            
            <div class="form-buttons">
            	<button type="submit">Lưu</button>
                <a th:href="@{/stocks}">Hủy</a>
            </div>
		</form>
	</div>
</body>
</html>